@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-size: 14px;

  --Green_500: hsl(158, 36%, 37%);
  --Green_700: hsl(158, 42%, 18%);
  --Black: hsl(212, 21%, 14%);
  --Grey: hsl(228, 12%, 48%);
  --Cream: hsl(30, 38%, 92%);
  --White: hsl(0, 0%, 100%);
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: 0;
  background-color: var(--Cream);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 320px;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img .imgsrc {
  content: url("./images/image-product-mobile.jpg");
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px 6px 0 0;
}
.img {
  width: 320px;
  min-height: auto;
}

.text {
  width: 320px;
  background-color: var(--White);
  padding: 1.5rem;
  border-radius: 0 0 6px 6px;
  min-height: auto;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: space-evenly;
}
.text h3 {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0;
  color: var(--Grey);
  font-size: 1rem;
  margin-bottom: 0.8rem;
  padding: 5px;
  text-align: left;
  font-weight: 500;
}

h2 {
  color: var(--Black);
  font-family: "Fraunces", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin: 0 auto;
  font-weight: 700;
}
p {
  font-size: 1.2rem;
  color: var(--Grey);
}

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9px;
  font-family: "Fraunces", Arial, Helvetica, sans-serif;
}
.big-price {
  font-size: 2.5rem;
  margin-right: 1rem;
  color: var(--Green_500);
  font-weight: 700;
}
.small-price {
  text-decoration: line-through;
  color: var(--Grey);
}
.btn {
  display: block;
  border: none;
  border-radius: 5px;
  color: var(--White);
  background-color: var(--Green_500);
  margin: 0.5rem;
  width: calc(100% - 1rem);
  padding: 1rem 1.5rem;
  font-weight: 700;
  font-size: 1.2rem;
}
.btn:hover {
  background-color: var(--Green_700);
}
@media (min-width: 768px) {
  .container {
    flex-direction: row;
    width: 640px;
  }

  .img .imgsrc {
    content: url("./images/image-product-desktop.jpg");
    border-radius: 6px 0px 0px 6px;
  }
  .text {
    font-size: 1.3rem;
    height: 480px;
    border-radius: 0 6px 6px 0;
    gap: 0;
  }
  .text h2 {
    font-size: 2.8rem;
  }
}
